---
import type { HTMLAttributes } from 'astro/types'
type Props = HTMLAttributes<'a'>;

const { href, ...attrs } = Astro.props;
---

<a href={ href } {...attrs} class="c-button">
    <slot />
</a>

<style>
    .c-button {
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;

        transition: background-color 0.125s ease-in-out;

        padding: 12px;

        border-radius: 6px;
        background-color: rgba(var(--dark), 0.5);

        color: rgb(var(--light));
        text-decoration: none;
        line-height: 1;
        font-size: 16px;
    }

    .c-button:hover {
        background-color: rgb(var(--accent));
    }
</style>