---
import { Image } from 'astro:assets';

import buttonIcon from '../images/icons/download.svg';
---

<footer class="c-footer">
    <div class="c-footer__container">
        <nav class="c-footer__navigation">
            <ul class="c-footer__menu">
                <li class="c-footer__item">
                    <a href="/" class="c-footer__link">
                        About
                    </a>
                </li>
                <li class="c-footer__item">
                    <a href="/projects" class="c-footer__link">
                        Projects
                    </a>
                </li>
                <li class="c-footer__item">
                    <a href="#" class="c-footer__link">
                        Download CV
                        <Image src={ buttonIcon } class="c-button__icon" alt="" width="16" />
                    </a>
                </li>
            </ul>
        </nav>
        <p class="c-footer__legal">
            &copy; 2024 Cj Brown. All rights reserved.
        </p>
    </div>
</footer>

<style>
    .c-footer {
        border-top: 1px solid rgba(var(--border), 0.1);
        padding: 40px 0;
    }
    .c-footer__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 5%;
    }

    .c-footer__menu {
        display: flex;
        gap: 0 18px;
        justify-content: center;
        align-items: center;
        
        margin: 0;
        padding: 0;

        list-style: none;
    }

    .c-footer__link {
        display: flex;
        gap: 8px;
        align-items: center;

        text-decoration: none;
        color: rgb(var(--light));
        font-size: 14px;
    }

    .c-footer__link:hover {
        color: rgb(var(--accent));
    }

    .c-footer__legal {
        margin: 0;

        opacity: 0.5;

        color: rgb(var(--light));
        font-size: 14px;
    }
</style>