---

---

<header class="c-header">
    <div class="c-header__container">
        <nav class="c-header__navigation">
            <ul class="c-header__menu">
                <li class="c-header__item">
                    <a href="#" class="c-header__link">
                        About
                    </a>
                </li>
                <li class="c-header__item">
                    <a href="#" class="c-header__link">
                        Resume
                    </a>
                </li>
                <li class="c-header__item">
                    <a href="#" class="c-header__link">
                        Projects
                    </a>
                </li>
                <li class="c-header__item">
                    <a href="#" class="c-header__link">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>