---
import { Image } from 'astro:assets';

import buttonIcon from '../images/icons/download.svg';
---

<header class="c-header">
    <div class="c-header__container">
        <nav class="c-header__navigation">
            <ul class="c-header__menu">
                <li class="c-header__item">
                    <a href="/resume/" class="c-header__link">
                        About
                    </a>
                </li>
                <li class="c-header__item">
                    <a href="/resume/projects" class="c-header__link">
                        Projects
                    </a>
                </li>
                <li class="c-header__item">
                    <a href="/cv-2024.pdf" target="_blank" class="c-header__link">
                        Download CV
                        <Image src={ buttonIcon } class="c-button__icon" alt="" width="18" />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<style>
    .c-header {
        position: fixed;
        top: 60px;
        left: 50%;
        z-index: 100;

        transform: translateX(-50%);
    }

    .c-header__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin: 0;
        padding: 0;

        border-radius: 100px;
        border: 1px solid rgba(var(--border), 0.1);
        background-color: rgb(var(--dark));
        padding: 0 12px;

        list-style: none;
    }

    .c-header__link {
        display: flex;
        gap: 10px;
        align-items: center;

        padding: 8px 12px;

        text-decoration: none;
        color: rgb(var(--light));
    }

    .c-header__link:hover {
        color: rgb(var(--accent));
    }
    @media screen and (max-width: 640px) {
        .c-header {
            width: 80%;
        }
    }
</style>