---
interface Props {
    text: string;
}

const { text } = Astro.props;
---

<h2 class="c-title">
    { text }
</h2>

<style>
    .c-title {
        margin: 0 0 42px;
        padding: 0 0 22px;

        border-bottom: 1px solid rgba(var(--border), 0.05);;

        color: rgb(var(--light));
        font-weight: 600;
        font-size: 24px;
    }

    .c-title:not(:first-child) {
        margin-top: 62px;
    }
</style>