---
interface Props {
	title: string;
}

import '../styles/reset.css';
import { ViewTransitions } from "astro:transitions";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Hi, I'm Cj Brown, a front end developer based in the UK. I build websites and web applications using HTML, CSS, JavaScript, React, Vue, Astro, Svelte, and more." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
		<script>
			import Alpine from 'alpinejs'
			import focus from '@alpinejs/focus';
 
			window.Alpine = Alpine;

			Alpine.plugin(focus);
			Alpine.start();
		</script>
	</body>
</html>
<style is:global>
	:root {
		--body: 24, 24, 27;
		--border: 229, 231, 235;
		--accent: 50, 168, 82;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--light: 228, 228, 231;
		--dark: 39, 39, 42;
		--text: 161, 161, 170;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #000;
		background-size: 224px;

		overflow-x: hidden;
	}
	body {
		border-radius: 40px;
		border-top: 3px solid rgb(var(--accent));
		background-color: rgb(var(--body));

		margin: 40px auto;
		padding-top: 80px;

		width: 90%;
		max-width: 1200px;
	}
	.c-section {
		padding: 100px 0;
	}
	.c-section + .c-section {
		padding-top: 0;
	}
	.o-container {
		padding: 0 5%;
	}
	.o-stack {
		display: flex;
		flex-direction: column;
		gap: 80px;
	}
	.o-stack--sm {
		gap: 20px;
	}
	.o-duo {
		display: grid;
		gap: 120px;
		grid-template-columns: 1fr 360px;
		align-items: flex-start;
	}
	.c-image-grid__item {
        display: block;

        border-radius: 16px;
		border: 1px solid rgba(var(--border), 0.1);

        width: 300px;
        height: 340px;

        object-fit: cover;
    }
	.is-quarantine ul {
		margin: 0;
        padding: 0;

        list-style-position: inside;
	}
	.is-quarantine li {
		margin: 0 0 10px;

		color: rgb(var(--text));
		line-height: 24px;
		font-size: 14px;
	}
	.is-quarantine li > p {
		display: inline;
	}
</style>
